{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false,
        "bracketSpacing": true,
        "parser": "babylon",
        "printWidth": 120,
        "trailingComma": "all",
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
